<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur10_3f_gripper">

  <!-- Import UR10 macro -->
  <xacro:include filename="$(find ur_yt_sim)/urdf/ur10_macro.xacro"/>

  <!-- Import Robotiq 3F gripper -->
  <xacro:include filename="$(find robotiq_3f_description)/urdf/robotiq_3f_gripper.xacro"/>

  <!-- Import ros2_control for UR10 -->
  <xacro:include filename="$(find ur_yt_sim)/urdf/ur10.ros2_control.xacro"/>

  <!-- World link -->
  <link name="world"/>

  <!-- UR10 Robot -->
  <xacro:ur_robot
      name="ur10"
      tf_prefix=""
      parent="world"
      joint_limits_parameters_file="$(find ur_description)/config/ur10/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/ur10/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/ur10/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/ur10/visual_parameters.yaml">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Robotiq 3F Gripper -->
  <xacro:robotiq_3f_gripper prefix=""/>

  <!-- Attach the gripper to UR10 tool0 -->
  <joint name="ur10_to_3f_gripper" type="fixed">
    <parent link="tool0"/>
    <child link="palm"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- ROS2 Control in simulation -->
  <xacro:ur10_ros2_control 
    name="ur10" 
    prefix=""
    use_fake_hardware="true"
    fake_sensor_commands="false"
    initial_positions="${dict(
      shoulder_pan_joint=0.0,
      shoulder_lift_joint=-1.57,
      elbow_joint=1.57,
      wrist_1_joint=-1.57,
      wrist_2_joint=-1.57,
      wrist_3_joint=0.0)}"/>

</robot>
